<section class="footer p-5 pb-3">
  <div class="container text-white text-center">
    <div class="row">
      <div class="col-md-4 p-4">
        <h4>LOCATION</h4>
        <p>2215 John Daniel Drive Clark, MO 65243</p>
      </div>
      <div class="col-md-4 p-4">
        <h4>AROUND THE WEB</h4>
        <div class="icons">
          <a href="#" class="text-decoration-none">
            <i class="fa-brands fa-facebook-f fa-2x mx-3"></i>
          </a>

          <a href="#" class="text-decoration-none">
            <i class="fa-brands fa-twitter fa-2x mx-3"></i>
          </a>

          <a href="#" class="text-decoration-none">
            <i class="fa-brands fa-linkedin-in fa-2x mx-3"></i>
          </a>

          <a href="#" class="text-decoration-none">
            <i class="fa-brands fa-google fa-2x mx-3"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <h4>ABOUT FREELANCER</h4>
        <p>
          Freelance is a free to use, MIT licensed Bootstrap theme created by
          Route
        </p>
      </div>
    </div>
  </div>
</section>
<div class="end row p-4 w-100 text-white text-center">
  <small>Copyright © Your Website 2021</small>
</div>
