<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Nunito:wght@700&family=Poppins:wght@500;800&display=swap"
  rel="stylesheet"
/>

<nav
  class="navbar navbar-expand-lg navbar-dark py-md-2 px-md-5 w-100 position-fixed"
>
  <div class="container-fluid px-md-5">
    <a id="brand" href="#home" class="navbar-brand">START ANGULAR</a>
    <button
      class="navbar-toggler float-end text-light rounded-3 py-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <small>MENU</small>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
      <ul class="navbar-nav">
        <li id="portofolio-link" class="nav-item px-2">
          <a class="nav-link link-hover" aria-current="page" href="#portofolio"
            >PORTFOLIO</a
          >
        </li>
        <li id="about-link" class="nav-item px-2">
          <a class="nav-link link-hover" href="#about">ABOUT</a>
        </li>

        <li id="contact-link" class="nav-item px-2">
          <a
            class="nav-link link-hover"
            routerLinkActive="text-info"
            href="#contact"
            >CONTACT</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
